# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore anything in open_source_java_projects
open_source_java_projects/**

**/__pycache__
/logdensitytool/node_modules/



